:root {
  /*--header-background: rgb(190, 49, 68);
  --wellcome-background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  --header-nav-background: gray;
  --projects-background: rgb(69, 86, 125);
  --project-text-title: #303841;
  --contact-background: rgb(48, 56, 65);*/
  --header-background: rgb(34, 40, 49);
  --wellcome-background: linear-gradient(0deg, #00000088 50%, #ffffff44 100%);
  --header-nav-background: gray;
  --projects-background: #00000088;
  --project-text-title: #303841;
  --contact-background: rgb(48, 56, 65);
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
  margin:0;
  padding:0;
}


header {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--header-background);
  height: 50px;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

a{
  text-decoration: none;
}

header > a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 15px;
  font-size: 1.1rem; 
}


header > a:hover {
  background-color: var(--header-nav-background);
}


#welcome-section {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url(resources/lab.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#welcome-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background: var(--wellcome-background);
}

#about-text {
  z-index: 1;
  width: 100%;
  text-align: center;
  margin: auto;
}

h1 {
  color: white;
  font-size: 2em;
  margin: 0;
}

#about-text > p {
  color: white;
  font-style: italic;
  margin-top: 5px;
  padding-bottom: 18px;
  font-size: 1.5em;
} 



#projects {
  padding: 30px 0;
  background-color: var(--projects-background);
  text-align: center;
  min-height: 100vh;
}

#projects-title {
  display: inline-block;
  margin-top: 30px;
}

#projects-title > h2 {
  font-size: 2em;
  color: white;
  margin-bottom: 7px;

}

#projects-title > hr {
  margin-bottom: 20px;
  background-color: white;
  border: none;
  height: 2px;
}

#projects-grid {
  display: grid;
  padding: 10px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 30vw;
  column-gap: 10px;
  row-gap: 15px;
}

.project {
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.project > img {
  width: 100%;
  height: calc(100% - 60px);
  object-fit: cover;
  margin: 0;
}

.project-title {
  margin-top: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background: var(--project-text-title);
}

.code {
  color: white;
  font-size: 1.1rem
}

.code > span {
  color: var(--project-text-title);
  transition: color 0.3s ease-out;
}

.project:hover .code > span {
  color: #ff7f50;
}

#contact {
  display: flex;
  height: 100vh;
  background-color: var(--contact-background);
  align-items: center;
  justify-content: center;
}

.footer-center {
  text-align: center;
}

.footer-center * {
  color: white;
} 

.footer-center > h2 {
  font-size: 2rem;
}

.footer-center > p {
  font-style: italic;
  margin-bottom: 20px;
}

.profile-links {
  display:flex;
}

.contact-details {
  padding: 5px;
  transition: transform 0.2s ease-out;
}

.contact-details:hover {
  transform: translatey(10px);
}




@media only screen and (max-width: 600px) {
  #projects-grid {
    grid-template-columns: repeat(1 ,1fr);
    grid-auto-rows: 85vw;
    row-gap: 40px;
  }
  .project {
    border-radius: 20px;
  }

}

@media only screen and (min-width: 600px) and (max-width: 950px) {
  #projects-grid {
    grid-template-columns: repeat(2 ,1fr);
    grid-auto-rows: 35vw;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1228px) {
  #projects-grid {
    grid-template-columns: repeat(3 ,1fr);
    grid-auto-rows: 25vw;
  }
}

@media only screen and (min-width: 1228px) {
  #projects-grid {
    grid-auto-rows: 300px ;
    width: 1228px;
  }
}
